@import url(/src/style.css);

/*X-Small	None*/
.brand {
  display: block;
}

.brand h1 {
  display: none;
}

#logo {
  display: none;
}

header {
  display: none;
}

.conteudo-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: white;
}

.secao-botoes-e-lista {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: calc(100vh - 226px);
  gap: 20px;
}

.botoes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  height: 16%;
}

.botoes-input {
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 12px;
}

.botoes-input#adicionar-tela {
  background-image: url("/src/res/images/adicionar_bttn.svg"); /* Imagem de fundo */
}
.botoes-input#adicionar-tela p,
.botoes-input#atualizar-tela p {
  visibility: hidden;
}
.botoes-input#atualizar-tela {
  background-image: url("/src/res/images/refresh_button.svg"); /* Imagem de fundo */
}

.secao-lista-users {
  width: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 84%;
  border: 1px grey solid;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px black;
  padding: 8px;
  background-color: #235061;
}

.item-da-lista {
  display: flex;
  width: 305px;
  height: 100px;
  min-width: 300px;
  max-width: 310px;
  min-height: 100px;
  max-height: 100px;
  padding: 0px 5px;
  align-items: center;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: rgba(220, 220, 220, 0.2);
}

.item-nome-matricula {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  flex: 1 0 0;
  align-self: stretch;
}

.item-nome-matricula p {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
}

.config {
  fill: rgba(144, 144, 144, 0.5);
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.4);
  opacity: 0.5;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}

.lista-de-users {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  justify-content: space-evenly;
}

/* Adicionar */

#adicionar-popup {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px grey solid;
  text-align: center;
  width: 80vw;
  height: 80vh;
  background-color: rgb(3 44 73 / 96%);
  border-radius: 8px;
  padding: 20px;

  position: absolute;
  top: 10%;
  left: 10%;
}

#abrir-popup {
  visibility: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
}

.item {
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: rgba(220, 220, 220, 0.2);
  display: flex;
  width: 305px;
  height: 100px;
  min-width: 300px;
  max-width: 310px;
  min-height: 100px;
  max-height: 100px;
  padding: 0px 5px;
  align-items: center;
  gap: 10px;
}

/*.campo-texto {
  display: flex;
  flex-grow: 1; 
  width: 100%;
  height: 10%;
  padding: 10px;
  align-items: center;
  font-size: larger;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: rgba(220, 220, 220, 0.7);
}*/

.adicionar-header {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  color: white;
  margin: 10px;
}

.botao-adicionar {
  height: 50px;
  width: 50px;
  background-image: url(/src/res/images/check_bttn.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  border: none;
}

.botao-adicionar p {
  visibility: hidden;
}

.fechar-janela {
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(/src/res/images/cancel_bttn.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  border: none;
  width: 56px;
  height: 56px;
}

@media (max-width: 575px) and (orientation: landscape) {
  .secao-botoes-e-lista {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
  }

  .secao-lista-users {
    width: calc(100% - 130px);
    overflow: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: 50vh;
    border: 1px grey solid;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px black;
    padding: 8px;
  }
}

/*TODO feature
adicionar um ícone de pesquisa que quando é clicado
usa transform e transition para abrir um textView
e assim pode fazer a pesquisa
*/

/*Small	sm*/
@media (min-width: 576px) {
}
/*Medium	md*/
@media (min-width: 768px) {
}
/*Large	lg*/
@media (min-width: 992px) {
  header {
    display: flex;
    justify-content: flex-end;
    margin: 15px 1px 1px 1px;
    width: 100%;
    height: 15vh;
  }
  img {
    width: 25%;
    text-align: center;
  }

  .brand {
    display: flex;
    width: 42vh;
    height: 14vh;
    justify-content: center;
  }

  #logo {
    display: block;
    width: 14vh;
    height: 14vh;
  }
  nav {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .lista-de-navegacao {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
    gap: 10px;
  }

  .lista-de-navegacao li {
    height: 50px;
    display: flex;
    flex-grow: 1;
    width: 180px;
  }
  .lista-de-navegacao a {
    text-decoration: none;
    border: 1px grey solid;
    border-radius: 6px;
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    background-color: #d0cfff;
  }
  .lista-de-navegacao a:hover {
    background-color: #b1b1c5;
  }

  #same-page {
    background-color: #818197;
  }

  .conteudo-main {
    /*
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
   
    flex-wrap: wrap;
    text-align: center;
    color: white;*/
    padding: 10px;
  }

  .secao-botoes-e-lista {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: calc(100vh - 38vh);
  }

  .botoes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 30%;
    height: 100%;
    padding: 15px;
  }

  .botoes-input {
    width: 100%;
    height: 60px;
    background-color: #d0cfff;
  }

  .botoes-input:hover {
    background-color: #b1b1c5;
  }

  .botoes-input#adicionar-tela p,
  .botoes-input#atualizar-tela p {
    visibility: visible;
  }

  .botoes-input#adicionar-tela {
    background-image: none;
  }
  .botoes-input#atualizar-tela {
    background-image: none;
  }

  .lista-de-users {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    justify-content: space-evenly;
  }

  /* Adicionar */
  .botao-adicionar {
    height: 8vh;
    width: 40%;
    background-image: none;
    background-color: rgb(154, 250, 154);
    font-size: 22px;
    border: 1px rgb(38, 83, 24) solid;
    border-radius: 10px;
  }
  .botao-adicionar p {
    visibility: visible;
  }
}
/*Extra large	xl*/
@media (min-width: 1200px) {
}
/*Extra extra large	xxl	*/
@media (min-width: 1400px) {
  header {
    height: 25vh;
  }
  .brand {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-left: 10px;
  }
  .brand h1 {
    display: block;
    text-align: center;
    color: white;
    font-size: 42px;
    flex-grow: 1;
    padding-right: calc(100% - 90%);
    /*margin-right: 160px;*/
  }

  nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    flex-grow: 1;
  }

  .lista-de-navegacao {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
    gap: 10px;
    height: 11vh;
    align-items: center;
  }
}
