@import url("/style.css");

header {
  display: none;
}

.conteudo-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: white;
}

.botoes{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.secao-lista-users {
  width: 100%;
  max-height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  border: 1px grey solid;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px black;
}

.botoes-input {
  background-size: 50px 50px; /* Tamanho da imagem */
  background-repeat: no-repeat; /* Não repetir a imagem */
  background-position: center; /* Centralizar a imagem */
  padding: 0; /* Remove padding para ajustar à imagem */
  width: 50px; /* Largura fixa para o botão */
  height: 50px; /* Altura fixa para o botão */
  border: none; /* Remove bordas */
  border-radius: 12px;
}

.adicionar-popup{
  display: hidden;
}

.abrir-popup{
  
}


@media (min-width:320px) and (max-width: 1023px){
  .botoes-input#adicionar {
    background-image: url("/res/images/adicionar_bttn.svg"); /* Imagem de fundo */
  }
  .botoes-input#adicionar p,
  .botoes-input#atualizar p{
    visibility: hidden;
  }
  .botoes-input#atualizar {
    background-image: url("/res/images/refresh_button.svg"); /* Imagem de fundo */
  }
  #logo {
    display: none;
  }
  .secao-botoes-e-lista {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    gap: 20px;
  }
}

@media (min-width: 1024px) {
  header {
    display: flex;
    justify-content: flex-end;
    margin: 15px;
    width: 100%;
    height: 75px;
    position: relative;
  }
  img {
    width: 25%;
    text-align: center;
  }

  #logo {
    position: absolute;
    top: 10px;
    left: 120px;
    width: 160px;
    height: 160px;
  }
  nav {
    width: 75%;
  }

  main {
    height: calc(100vh - 136px);
  }

  .lista-de-navegacao {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    flex-grow: 1;
    /*gap: 10px;*/
  }

  .lista-de-navegacao li {
    height: 50px;
    display: flex;
    width: 180px;
  }
  .lista-de-navegacao a {
    text-decoration: none;
    border: 1px grey solid;
    border-radius: 6px;
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    background-color: #d0cfff;
  }
  .lista-de-navegacao a:hover {
    background-color: #b1b1c5;
  }

  .conteudo-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    flex-wrap: wrap;
    text-align: center;
    color: white;
  }

  .secao-botoes-e-lista {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 86%;
  }

  .botoes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 30%;
    padding: 15px;
  }

  .botoes-input {
    width: 100%;
    height: 60px;
    background-color: #d0cfff;
  }

  .lista-de-users {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    justify-content: space-evenly;
  }
}